#page-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* display: flex; */
    background: var(--color-primary);
}

.page-container {
    flex-direction: row;
    display: flex;
    height: 100vh;
}

.content {
    flex: 8;
    background: var(--color-content);
    text-align: center;
    font: 500 1.3rem Poppins;
    overflow: auto;
}

.card-new-product {
    justify-content: space-between;
    display: flex;
}

.button-new-product {
    background: var(--color-background-buttom); /* Green */
    border: none;
    color: white;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 12px; */
    width: 200px;
}

.button-new-product:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.position-button-new-product button {
    font: 200 1rem Poppins;
    padding: 10px 40px 10px 40px;
}

.box-general1 {
    margin: 40px 0px 40px 0px;
}

.input-group-base-product {
    display: flex;
    justify-content: center;
    font: 100 1rem Poppins;
}
form {
    margin-top: 20px;
}

.input-group-base-product input {
    font: 100 1rem Poppins;
    text-transform: uppercase;
}

.position-quantity-stock {
    text-align: left;
    /* margin-left: 10px; */
}

.quantity-stock {
    font: 200 1.2rem Poppins;
}

.input-group-product {
    /* flex-direction: row; */
    display: inline;
    text-align: left;
    width: 40%;
    margin: 5px 10px;
}

.input-new-product {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    /* border-radius: 10px; */
    font: 300 1.2rem Poppins;
    border-color: transparent;

    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.name-new-product {
    font: 700 1.3rem Poppins;
    color: var(--color-text-black);
    margin: 0.2rem auto;
    text-transform: uppercase;
}

.name-new-product-warning {
    display: block;
    color: var(--color-alert-label);
}

.name-new-product {
    margin-right: 10px;
}

.button-new-product {
    background: var(--color-background-buttom); /* Green */
    /* border: none; */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    /* border-radius: 12px; */
}

.button-new-product:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

@media (min-width: 400px) {
    /* .base-products {
        flex-direction: column;
        display: flex;
    } */
    /* .card-product {
        width: 100%;
        margin-right: 5px;

    } */
}
@media (max-width: 700px) {
    .input-group-base-product {
        display: inline-block;
        justify-content: center;
        font: 100 1rem Poppins;
    }

    .base-products {
        display: block;
        grid-template-columns: repeat(auto-fit, 18rem);
        justify-content: space-between;
        margin-top: 1rem;
    }
    /* .base-products {
        flex-direction: row;
        display: flex;

    } */
}

@media (min-width: 745px) {
    .base-products {
        /* flex: 1; */
        display: grid;
        grid-template-columns: repeat(auto-fit, 18rem);
        justify-content: space-between;
        margin-top: 1rem;
    }
}

#form-new-product {
    padding-left: 0;
    padding-right: 0;
}

/* new cards */

.card-product {
    overflow: hidden;
    /* background-color: brown; */
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 1rem auto 1rem auto;
}

.card-product:hover {
    box-shadow: 3px 3px 3px var(--color-text-grey);
    /* -moz-transform: scale(1.3); */
    /* -webkit-transform: scale(1.3); */
    transform: scale(1.05);
    /* transition: all 0.3s; */
}

.title-card-product {
    /* background: #dc3545; */
    height: 20rem;
    align-items: center;
    justify-content: center;
    /* display: grid; */
}

.title-card-product img {
    resize: horizontal;
    width: 100%;
    height: 20rem;
}

.category-name-label {
    /* width: 200px; */
    /* background: var(--color-text-grey); */
    position: absolute;
    top: 20px;
    /* text-align: left; */
    color: var(--color-background-graphic);
}

.category-name-label span {
    padding: 0 10px 0 10px;
}

.title-card-product span {
    font: 500 3rem Poppins;
    color: var(--color-text-white);
}

.title-card-new-product {
    background: white;
    /* flex-direction: row; */
    justify-content: space-between;
    /* height: 5rem; */
    align-items: center;
    padding: 10px;
    /* display: grid; */
}

.title-card-new-product .name {
    text-align: left;
}

.title-card-new-product a {
    font: 500 1.6rem Poppins;
    color: var(--color-text-black);
    margin: 0.2rem auto;
}

.position-products1 {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: space-between;
}

.circle-alt-product i {
    /* position: absolute; */
    border: 1px solid var(--color-text-grey);
    border-radius: 100px;
    padding: 10px;
    box-shadow: 3px 2px 3px var(--color-text-grey);
}

.position-products1 a {
    font: 300 1rem Poppins;
    text-align: left;
    width: 50%;
    /* justify-content: space-between; */
}

.position-products1 .circle-alt-product {
    margin-right: 10px;
    text-align: center;
    text-align: right;
}
