:root{
    --color-background-navbar: #1bb99a;
    --color-title-navbar: #FFF;
    --color-background-content: #D7D7D7;
    --color-background-sidebar: #FFF;
    --color-items-navbar: #000;
    --color-hover-sidebar: #F3F3F3;
    --color-text-white: #FFF;
    --color-text-black: #000;
    --color-background-buttom: #1082be;
    --color-buttom: #FFF;
    --color-title: #000;
    --color-hover-table: #d0c6c7;
    --color-alert-label: #dc3545;
    --color-text-blue: #1bb99a;
    --color-text-grey: #212121;
    --color-background-card: #FFF;
    --color-background-graphic: #FFF;
    --color-icons-grey: #808080;
    --color-hover-icons: #1bb99a;
    /* font-size: 60%; */
}

*{
    margin: 0;
}
.box {
    margin: 25px;
}
