*{
    margin: 0;
}
#page-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* display: flex; */
    background: var(--color-primary);
}

.nav-bar { 
    flex-direction: row;
    display: flex;
    /* height: 4rem; */
    /* flex-wrap: wrap; */
}
nav {
    background: var(--color-box-base);
}

.title {
    flex: 3;
    background: var(--color-primary);
    text-align: center;
    margin: 10px 0 10px 0;
}

.title span {
    color: #FFF;
    font: 500 1.6rem Poppins;
}

.circle-photo{
    flex: 1;
    /* background: var(--color-primary); */
    text-align: center;
    font: 500 1.6rem Poppins;
    margin: 10px 0 10px 0;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    height: 100%;
    border-radius: 100%;
    background: #000;
}

.page-container {
    flex-direction: row;
    display: flex;
    height: 100vh;
}

 

.navbar-nav {
    /* text-decoration: none;
    display: inline; */
    list-style:none;
    
}

/* #list-hover span :hover{
    background: blue;
    color: #FFF;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recall {
    cursor: pointer;
}

ul li {
    background: var(--color-box-base);
    
}

ul li a{
    color: #000;
    
}

/* #side-bar ul li i{
    color: var(--color-items-navbar);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
} */

.content{
    flex: 8;
    background: var(--color-content);
    text-align: center;
    font: 500 1.3rem Poppins;
}

#register {
    display: block;
	/* color: rgb(177, 171, 171); */
    /* font-family: 'Roboto', Helvetica, sans-serif; */
    font: 100 1.3rem Poppins;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	/* font-size: 25px; */
	padding-left: 10px;
	padding-right: 10px;
}

a:link {
	display: block;
	/* color: rgb(177, 171, 171); */
    /* font-family: 'Roboto', Helvetica, sans-serif; */
    font: 100 1.3rem Poppins;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	/* font-size: 25px; */
	padding-left: 10px;
	padding-right: 10px;
}

ul li a:hover,
ul li:hover {
	color: var(--color-primary);
	background: var(--color-hover-sidebar);
	transition: opacity 1s ease-in-out;
    border-left: solid 0.2rem;
    border-left-color: #000
}

#icon-sidebar {
	padding-right: 10px;
}

@media (min-width: 300px  ) {
    .circle-photo span{
        display: none;
    }   
    .circle-photo{
        justify-content: center;
    }   
    .circle {
        width: 40px;
    }

}

@media (min-width: 700px) {
    .circle-photo span{
        width: 120px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
    }    
    .circle {
        width: 40px;
    }
}

@media (min-width: 1000px) {
    .circle-photo span{
        
        margin-right: 0.2rem;
        width: 100%;
        display: block;
 
    } 

    .circle {
        width: 50px;
    }
}

.circle-photo span{
    font: 500 1rem Poppins;
    color: var(--color-text);
}

.circle-photo span{
    margin-left: 1rem;
} 

.circle-photo .circle{
    margin-right: 1rem;
    display: flex;
} 
